<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>
		<tbody>
			{{#each products as |product|}}
				{{filterable-product-table/product-table/product-category-row category=product.attributes.category}}
				{{filterable-product-table/product-table/product-row productAttr=product.attributes}}
			{{/each}}
		</tbody>
	</thead>
</table>
{{yield}}
