<form action="" method="">
	<input type="text" placeholder="Search..." />
	<input id="in-stock-only" type="checkbox" name="filter" value="true" />
	<label for="in-stock-only">Only show products in stock</label>
</form>
{{yield}}
